/* Mapas */

$standard: (
    /*Key - valor */
    text-color-standard: black,
    bg-color-standard: #93B5C6,
    font-standard: 40px,
    transition: none
);

$premium: (
    text-color-premium: black,
    bg-color-standard: #93B5C6,
    font-standard: 40px,
    transition: none
);

.standard {
    background-color: map-get($map:$standard, $key: $standard );
}